body {
	font-family: 'Raleway', sans-serif;
	background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}
  
/* .header {
	background-color: rgb(172, 181, 196);
	text-align: center;
	/* height: 200px;
	width: 200px; */

  
.title {
	font-weight: bold;
}
  
/* h1 {
	color: Azure;
} */

#banner {
	/* background-image: url("./IMG_4456.jpg"); */
	/* background-size: cover; */
	background-position: center;
	height: 240px;
	width: 50%;
  }

#banner .content h1 {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 400px;
}

.navigation ul {
	/* margin: 0;
	padding: 0;
	text-align: center; */

	box-sizing: border-box;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
	left: 0px;
	overflow-y: auto;
	padding:30px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
	z-index: 999;
}

.navigation li {
	display: inline;
	padding-right: 2.22rem;
	/* position: fixed; */
}

/* .navigation {
	position: fixed;
} */

li {
	list-style-type: square;
}

h6 {
	font-family: 'Space Mono', monospace;
}

.photo {
	width: 50%;
	padding: 1.11rem;
	border-radius: 5px;
	position: relative;
	margin: 0 auto 4.44rem auto;
	background-color: rgb(161, 156, 156);
	font-family: "Merriweather";

	/* background-position: center top;
	background-size: cover;
	border-bottom: 1px solid #dddddd;
	height: 200px;
	position: relative;
	text-align: center;
	top: 100px;
	width: 100%; */
  }
  
  .photo .image-container {
	overflow: hidden;
	margin-bottom: 1.11rem;
  }
  
  .photo .image-container img {
	width: 100%;
  }
  
  .photo .caption {
	font-style: italic;
	font-family: 'Merriweather', serif;
  }
  