@font-face {
	font-family: 'Open Sans';
	src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
	font-family: 'Raleway', sans-serif;
	background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}
  
/* .header {
	background-color: rgb(172, 181, 196);
	text-align: center;
	/* height: 200px;
	width: 200px; */

.title {
	font-weight: bold;
}

#banner {
	/* background-image: url("./IMG_4456.jpg"); */
	/* background-size: cover; */
	background-position: center;
	height: 240px;
	width: 50%;
}

#banner .content h1 {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 400px;
}

.list-heading {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif; 
	font-weight: bold;
}

.skills-list li {
	font-family: 'Open Sans';
	line-height: 1.7;
}

.navigation ul {
	/* margin: 0;
	padding: 0;
	text-align: center; */

	box-sizing: border-box;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
	left: 0px;
	overflow-y: auto;
	padding: 30px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
	z-index: 999;
}

.navigation li {
	display: inline;
	padding-right: 2.22rem;
	letter-spacing: 1px;
	/* position: fixed; */
}

li {
	line-height: 1.5;
	list-style-type: square;
}

h6 {
	font-family: 'Space Mono', monospace;
}

h2 {
	padding-left: 4px;
}

.photo {
	width: 50%;
	padding: 1.11rem;
	border-radius: 5px;
	position: relative;
	margin: 0 auto 4.44rem auto;
	/* margin-top: 10px; */
	background-color: rgb(161, 156, 156);
	font-family: "Merriweather";

	/* background-position: center top;
	background-size: cover;
	border-bottom: 1px solid #dddddd;
	height: 200px;
	position: relative;
	text-align: center;
	top: 100px;
	width: 100%; */
}
  
.photo .image-container {
	margin-top: 10px;
	overflow: hidden;
	margin-bottom: 1.11rem;
}
  
.photo .image-container img {
	
	width: 100%;
}
  
.photo .caption {
	font-style: italic;
	font-family: 'Raleway', sans-serif;
}
  
a {
	color: #28d475;
	text-decoration: underline;
	cursor: pointer;
}
  
a:hover {
	text-decoration: none;
}

.nav-link {
	text-decoration: none;
}
  
.nav-link:hover {
	color: #5495ff;
}

/* In artwork.html */
.img-1 {
	padding-top: 10px;
	max-width: 400px;
	height:auto;
}

.img-2 {
	max-width: 400px;
	height:auto;
}

.img-3 {
	max-width: 400px;
	height:auto;
}

